<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.DmSchedulerSeatMapper">

    <resultMap id="BaseResultMap" type="com.cloud.model.DmSchedulerSeat">
        <!-- WARNING - @polunzi_auto_generated -->
            <id column="id" jdbcType="bigint" property="Id" />
            <id column="x" jdbcType="int" property="X" />
            <id column="y" jdbcType="int" property="Y" />
            <id column="areaLevel" jdbcType="int" property="Arealevel" />
            <id column="scheduleId" jdbcType="bigint" property="Scheduleid" />
            <id column="orderNo" jdbcType="varchar" property="Orderno" />
            <id column="userId" jdbcType="bigint" property="Userid" />
            <id column="status" jdbcType="int" property="Status" />
            <id column="sort" jdbcType="int" property="Sort" />
            <id column="createdTime" jdbcType="datetim" property="Createdtime" />
            <id column="updatedTime" jdbcType="datetim" property="Updatedtime" />
    </resultMap>


</mapper>