<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.provide.mapper.SysAuthorityMapper">

    <resultMap id="BaseResultMap" type="com.cloud.provide.model.SysAuthority">
        <!-- WARNING - @polunzi_auto_generated -->
            <id column="id" jdbcType="char" property="Id" />
            <id column="name" jdbcType="varchar" property="Name" />
            <id column="code" jdbcType="varchar" property="Code" />
            <id column="module" jdbcType="varchar" property="Module" />
            <id column="seq" jdbcType="int" property="Seq" />
            <id column="access_id" jdbcType="char" property="AccessId" />
    </resultMap>


</mapper>