<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.provide.mapper.SysRoleAccessMapper">

    <resultMap id="BaseResultMap" type="com.cloud.provide.model.SysRoleAccess">
        <!-- WARNING - @polunzi_auto_generated -->
            <id column="id" jdbcType="char" property="Id" />
            <id column="role_id" jdbcType="char" property="RoleId" />
            <id column="access_id" jdbcType="char" property="AccessId" />
    </resultMap>


</mapper>